<div id="abmbookmarklet">
    <div id="abmbar">
        <span id="abmcontrol">{{ open_button }}</span>
        <span id="abmtitle" class="hidden">Audio Annotation Bookmarklet</span>
    </div>
    <div id="abmcontent" class="hidden">
       <button id="abmloginbutton">Login</button>
       <div id="abmrecord" style="display: none;">
            <button id="abmstartrecord">Start</button>
            <button id="abmstoprecord" style="display: none;">Stop</button>
       </div>
    </div>
</div>
