<div id="abmloginwindow">
    <div>Authorizing ...</div>
    <iframe id="abmloginframe" src="{{ login_url }}" allowtransparency="false"></iframe>
    <button id="abmcloselogin" style="display: none;">Close</button>
</div>
